html {
    font-style: normal;
    background-image: url("background.jpg");
    /*    -moz-background-size: 100%; /* Firefox 3.6+ */
    /*    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ *!*/
    /*    -o-background-size: 100%; /* Opera 9.6+ *!*/
    /*background-size: 100%; /*растягивает фон на 100% ширины экрана*!*/
}
main { /* основное содержимое */
    position: relative; /* боковая колонка перемещается в рамках основного содержания */
    margin: 0 auto; /* сайт располагается по центру экрана */
    max-width: 1200px; /* резиновая, растягивается до значения в 1200px */
    padding-right: 310px; /* = боковая колонка + отступ в 10px */
}
p{
  font-style: oblique;
  color: #276147;
}
figure{
  padding-left: 0;
  padding-right: 0;
  border: #6bff63;
  border: 10px;
}

figure img {    /*Оконтовка вокруг картинки голубого цвета*/
  vertical-align: middle;
  border: 28px solid rgb(202, 224, 248);
}
.text{
    text-align: center;
}

table{
    border-collapse: separate; /*separate - раздельные ячейки, collapse - склеенные ячейки*/
  border: 3px solid #ff8940;
    text-align: center;
}
caption{ /*Заголовок для таблицы*/
    font-size: 32px;
}
th{ /*Параметры для заглавных ячеек в таблице*/
    /*padding:5px;*/
    color: #63301e; /*цвет текста ячеек*/
    background-color: rgba(255,117,79,0.44); /*Цвет фона ячеек*/
    border: 2px solid #3d6934;
}

td{ /*Параметры для ячеек в таблице*/
    /*padding-left: 15px;*/
  border: 2px solid #61a24d;
}

td.viravnl{ /*Создан класс для форматирования текста в определенных колонках*/
    text-align: left;
}
td.red{ /*Ячейка выборочно окрашена в красный цвет*/
    background-color: #d3001a;
}

p.vertical{ /*осуществлен поворот текста в таблице горизонтально*/
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

figcaption {
  width: 300px;
  padding-bottom: 8px;
  font-size: 20px;
  letter-spacing: 0.02em;
  font-style: normal;
  text-align: center;
  background-color: #ffc8d0;
}


/* nav:link{ 
  href="file:///D:/Atom/Start/index.html"
} */
